<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ecommerce">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission
        android:name="android.permission.BROADCAST_SMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.example.ecommerce.application.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup, android:usesCleartextTraffic "
        tools:targetApi="n">
        <activity
            android:name="com.example.ecommerce.views.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ecommerce.views.promocode.PromoCodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.ecommerce.views.favorite.FavoriteListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.cart.CartListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.cart.CheckoutAddressActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.subcategories.ServiceDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.orders.OrdersListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.orders.OrdersHistoryListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.subcategories.SubCategoriesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.ratingreviews.ReviewsListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.ratingreviews.AddRatingReviewsListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.orders.OrderDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.ecommerce.views.subcategories.ServicesListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.address.AddressListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.address.AddAddressActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.ecommerce.views.payment.PaymentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- <activity android:name=".views.notifications.NotificationsListActivity"></activity> -->
        <!-- <activity android:name=".views.home.JobsHistoryActivity" /> -->
        <!-- <activity android:name=".views.services.UpdateServiceActivity" /> -->
        <!-- <activity android:name=".views.services.ServicesListActivity" /> -->
        <!-- <activity android:name=".views.fuel.FuelEntryList" /> -->
        <!-- <activity android:name=".views.fuel.AddFuelDetailActivity" /> -->
        <activity android:name="com.example.ecommerce.views.profile.ProfileActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.ecommerce.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>
        <activity
            android:name="com.example.ecommerce.views.authentication.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.authentication.LoginPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.authentication.OTPVerificationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.authentication.ResetPasswrodActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.authentication.ChangePasswrodActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.home.DashboardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.home.LandingMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.example.ecommerce.views.settings.MyAccountsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.authentication.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.socket.TrackingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.socket.DriverTrackingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ecommerce.views.vendor.VendorsListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.ecommerce.views.notifications.NotificationsListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service
            android:name="com.uniongoods.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.ecommerce.database.NetworkJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.example.ecommerce.socket.LocationTrackingService"
            android:enabled="true" />
        <service
            android:name="com.example.ecommerce.database.BackgroundLocationService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA7Zj-PTZm4sDG-eoiLPA-XohvgxBe95wU" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/app_name" />
        <!--AIzaSyD2-RDPo0jssFqwwTXr6NDpOFzQTcIc3dI-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app_logo" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name="com.example.ecommerce.views.category.ProductCategoriesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.ecommerce.views.homenew.FlashSaleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.ecommerce.views.homenew.SearchProductsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.ecommerce.views.product.ProductDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.ecommerce.views.product.FavouriteProductsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.ecommerce.views.product.CustomerAllReviewsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>